body{
  background-image: url("team.jpg");
  background-size: cover; 
/*   overflow: hidden; */
}

.maininfo {
  position: relative;
  z-index: 0;
  background-color: rgba(71,65,65,.7);
  color: #fff;
  text-decoration: none;
  width: 90%;
  height: 50%;
  border-radius: 10px;
  display: block;
  padding: 4vw;
  line-height: 26pt;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 300px;
}

@media (max-width: 700px) {
  body{
    background-position: center center;
  }
  .maininfo{
    margin-top: 25px;
    margin-bottom: 300px;
  }
}
