html {
  box-sizing: border-box;
  pointer-events: auto;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Style the tab */
.tab {
  overflow: hidden;
}
.tab button {
  color: #080c80; 
  border: none;
  background-color: #e9f2fb;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px; 
  font-size: calc(20px + 0.2vw);
  width: calc(100px + 10vw);
  height: 100%;
  float: left;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-weight: 100;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #4b91e2;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: none;
  border-top: none;
  background-color: #4b91e2;
}

h2{
  font-weight: 100;
}
.menu{
  margin-bottom: 150px;
}
.maininfo1 {
  position: relative;
  z-index: 0;
  text-decoration: none;
  width: 90%;
  height: 50%;
  border-radius: 10px;
  display: block;
  padding: 40px;
  line-height: 26pt;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  text-align: left;
}
.maininfo {
  position: relative;
  text-decoration: none;
  width: 100%;
  height: 50%;
  border-radius: 10px;
  display: block;
  padding: 40px;
  line-height: 26pt;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  text-align: center;
}
.column {
  float: left;
  text-align: center;
  width: 33.33%;
  height: 100%;
}
.card {
  margin-bottom: 50px;
}
.container {
  padding: 0 16px;
}
.row{
  background-color: rgba(250,250,250,.5);
  border-radius: 10px;
  padding-top: 30px;
  color: #080c80;
}
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
.title {
  color: black;
}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  background-color: #000;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  color: white;
}
.button:hover {
  background-color: #555;
}
.image-cropper {
  max-width: calc(225px - 10%);
  max-height: 30vh;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
/*   background-color: black; */
  border: 2px solid black;
}

.image-cropper:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: scale(1.01); 
  cursor: pointer;
  border: 2px solid #080c80;
}

.image-cropper.inPop:hover{
  box-shadow: none;
  transform: none;
  cursor: auto;
  border: 2px solid black;
}

img {
  display: inline;
  height: auto;
  width: 100%;
}
/* .topnav a.logo1 img{
  float: left;
  display: block;
  width: auto;
  height: 100%;
  padding: 1vw;
  margin: auto;
}
.topnav a.logo1 img:hover {
  cursor: pointer;
} */

/* Popup container*/
.popup {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}

/* popup */
.popup .popuptext {
  visibility: hidden;
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  color: black;
  border: 1px solid black;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popuptext p{
  line-height: 15pt;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
  z-index: 100;
}

.maininfo .show{
  background-color: rgba(225,225,225,0.5);
}

/*fade in the popup*/
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.close {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 0%;
  padding: 0px 5px;
  transform: translate(0%, -50%);
  border-radius: 6px;
  background: #fff;
}

.close:hover {
  background: #8baaff;
}
@media screen and (max-width: 1000px) {
  .tab button {
    width: 33.3%;
  }
}
@media screen and (max-width: 800px){
  .tab button {
    width: 50%;
  }
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
  .image-cropper {
    max-width: calc(225px - 10%);
    max-height: 25vh;
  }
  .popup .popuptext {
    width: 90vw;
    top: 100%;
    margin: auto;
    transform: translate(-50%, -100%);
  }
  .maininfo{
    margin-bottom: calc(450px - 30vw);
  }
  .maininfo1{
    width: 100%;
  }
}
@media screen and (max-width: 560px) {
  .tab button {
    height: 80px;
  }
}
@media screen and (max-width: 450px) {
  .maininfo {
    overflow: hidden;
  }
  .maininfo1{
    margin-bottom: 250px;
  }
}
